@import "bourbon/bourbon";

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

// font faces

@font-face {
    font-family: 'ambitsek';
    src: url('ambitsek.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 800px)
{
	nav {
		left: 2%;
		top: 2%;
		}
	#controls {
		right: 2%;
		bottom: 2%;
	}
	#scalebar {
		bottom: 2%;
		left: 2%;
	}
}

@media screen and (min-width: 800px)
{
	nav {
		left: 14%;
		top: 3%;
		}
	#controls {
		right: 14%;
		bottom: 3%;
	}
	#scalebar {
		left: 14%;
		bottom: 3%;
	}
}

// give all elements border-box!! border-box is aweseom.

* {
	@include box-sizing(border-box);
}

html, body {
	font-family: tahoma, verdana, sans-serif;
	font-size: 1em;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	@include transition(background .5s ease-in-out);
	@include user-select(none);

	background: rgb(255,255,255);
	overflow: hidden;

	&.loaded {
		background: rgb(0,0,0);
	}
}

nav {
	position: absolute;
	z-index: 1000;
	opacity: 1;
	
	&:hover {
		opacity: 1;
	}
}
#map {
	width: 100%;
	height: 100%;
	opacity: 0;

	&.loaded {
		opacity: 1;
	}

	& div.loaded {
		@include transition(opacity 3s ease-in-out);

		opacity: 1 !important;
	}
}

#logo {
	float: left;
	padding-right: 5px;
	border-right: 1px solid #fff;
}

#menu {
	font-family: 'ambitsek', sans-serif;
	line-height: 8px;
	font-size: 8px;
	float: left;
	margin: 0 0 0 5px;
	padding: 0;
	list-style-type: none;
	color: #fff;


	&.loaded li {
		opacity: 1;
	}

	&.pre {
		#m_good_ppl {
			display: none;
		}
	}

	li {
		line-height: 10px;
		height: 10px;
		text-align: justify;

		opacity: 0;
		width: 170px;

		@include transition(opacity 3s ease-in-out);

		&:hover {

			&:before {
				content: "+";
				padding: 0 3px 0 0;
				display: inline-block;
			}
			&.r {
				color: red;
				& { background-color: red; color: #000; }
			}
			&.g {
				color: green;
				&{ background-color: green; color: #fff; }
			}
			&.y {
				color: yellow;
				& { background-color: yellow; color: #000; }
			}
			cursor: pointer;
			padding: 0 0 0 4px;
		}
	}

}

// ie popup message 

#ie_msg {
	display: none;
	background-image: url(http://lh6.ggpht.com/-cdHk7mAlb1U/S9ZxsaBKa9I/AAAAAAAAAPg/1zKUwVQcsWs/s0/Bliss%252520%2525281024%252520x%252520768%252529.jpg);
    background-repeat: no-repeat;
    background-position: center center;
	background-size: 100% 100%;

	position: absolute;
	left: 0;
	top: 0;
	z-index: 99999999999999;
}

#ie_msg, #ie_msg tbody, #ie_msg tr, #ie_msg td {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}
// scale bar 

#scalebar {
	position: absolute;
	z-index: 1000000000;
	margin-left: -20px;
}

.olControlScaleBarNumbers, .olControlScaleBarUnits {
	font-family: 'ambitsek';
	font-size: 8px;
	color: #fff;
}

.olControlScaleBar {
    bottom: 10px;
    left: 10px;
    font-family: sans-serif;
    color: #fff;
}

.olControlScaleBarBar {
    height: 1px;
    top: 14px;
    background: #fff;
}

.olControlScaleBarBarAlt {
    height: 1px;
    top: 14px;
    background: #fff;
}

.olControlScaleBarMarkerMajor {
    height: 7px;
    width: 1px;
    top: 11px;
    background: #fff;
}

.olControlScaleBarMarkerMinor {
    height: 5px;
    width: 1px;
    top: 12px;
    background: #fff;
}

.olControlScaleBarNumbersBox {
    width: 40px;
    height: 13px;
    top: 21px;
    //font-size: 0.7em;
}

.olControlScaleBarLabelBox {
    top: -2px;
    height: 15px;
    //font-weight: bold;
    letter-spacing: 0.1em;
    //font-size: 0.7em;
    //font-variant: small-caps;
}

.olControlScaleBarLabelBoxSingleLine {
    height: 15px;
    width: 35px;
    top: 5px;
    left: 10px;
    //font-size: 0.7em;
    //font-variant: small-caps;
}
// popup box

#coords {
	position: absolute;
	right: 14%;
	top: 3%;
	z-index:9999999999999;
	font-family: 'ambitsek';
	font-size: 8px;
	color: #fff;
}

#popup {
	position: absolute;

	top: 50%;
	left: 50%;
	z-index: 9999999999;

	//width: 290px;
	//height: 90px;

	//margin-left: -145px;
	//margin-top: -45px;

	background-color: rgba(0,0,0,0.8);

	border: 1px solid rgba(255,255,255,0.7);
	border-radius: 2px 2px 2px 0;

	padding: 4px;

	color: #fff;
	font-family: 'ambitsek', sans-serif;
	font-size: 8px;

	&.hidden {
		opacity: 0;
		z-index: -100;
	}

	&.displayed {
		width: 250px;
		height: 76px;
		
		margin-left: -125px;
		margin-top: -38px;

		#popup_msg {
			line-height: 22px;
		}
	}

	&.loading {
		width: 190px;
		height: 90px;
		margin-top: -45px;
		margin-left: -95px;

		#popup_msg {
			background-image: url(loading.png);
			background-repeat: no-repeat;
			background-position: center;
			line-height: 120px;
			text-indent: 30px;
		}
		#close_popup {
			display: none;
		}
	}

}

#popup_msg {
	height: 100%;
	width: 100%;
	line-height: 82px;
}

#close_popup {
	display: block;
	position: absolute;
	bottom: -14px;
	right: -1px;
	padding: 3px;
	background-color: rgba(255,255,255,0.7);
	color: #000;
	border-radius: 0 0 2px 2px;

	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

// map controls!

#controls {
	font-family: 'ambitsek', sans-serif;
	line-height: 8px;
	font-size: 8px;
	color: #fff;
	position: absolute;
	z-index: 9500;
	list-style-type: none;
	padding: 0;
	margin: 0;

	&>li {
		padding: 1px 0;
		margin: 0 0 3px 0;
		text-align: right;

		&.label {
			text-decoration: underline;
			margin: 0 0 4px 0;
		}

		&.zoom {
			cursor: default;

			div {
				display: inline-block;
				width: 16px;
				height: 16px;
				text-align: center;
				line-height: 16px;
				margin-left: 4px;
				border: 1px solid #fff;
				
				&:not(.disabled):hover {
					background-color: #fff;
					color: #000;
					cursor: pointer;
				}

				&.disabled {
					opacity: 0.5;
				}
			}
		}
	}
}

#map_credits {
	display: none;
}

#show_map_credits {
	&:hover {
		text-decoration: underline;
		cursor: default;

		#map_credits {
			display: inline-block;
		}
	}
}

div.olControlZoom {
	display: none;
}

.content {
	font-family: tahoma, verdana, sans-serif;
	font-size: 10px;

	display: none;
	position: absolute;
	top: 3%;
	left: 14%;
	margin-top: 40px;

	@include background-image( radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0.92) 100%) );

	z-index: 10000000;
}

// acknowledgements

#good_ppl {

	width: 310px;
	
	border-radius: 2px;
	padding: 4px;

	h1 {
		letter-spacing: 1px;
		padding: 4px 0 9px 0;
		font-size: 12px;
		text-decoration: underline;
		text-align: center;

		&:after {
			//content: ".";
			text-decoration: none;
		}
	}

	p {
		line-height: 14px;

		letter-spacing: 1px;
		text-align: justify;
		
		&.justify:after {
			content: "";
			display: inline-block;
			height: 0;
			width: 100%;
		}
	}

	p:after {

	}

	h3 {
		font-size: 9px;
	}

	ul {
		li {
			display: inline;

			&:after {
				content: ", ";
				display: inline;
			}
		}
	}

	ol {

		li {

				//font-family: 'bakersville';
				//font-style: italic;
				font-size: 10px;

			
			margin-left: 10px;
				padding-bottom: 10px;
			

			span {

				font-size: 10px;

				&.b4 {
					font-size: 13px;
					}
				
				&.b3 {
					font-size: 12px;
				}

				&.b2 {
					font-size: 11px;
				}

				&:after {
					content: "...";
					display: inline-block;
				}
			}

		}
		

	}
}

#updates {
	background: transparent;
}

#boot_env {
	position: relative;
}

#updates_info {
	position: absolute;
	top: 265px;
	left: 55px;

	@include transform(translate3d(0,0,0));
	@include transform(rotate(24deg));

	-webkit-backface-visibility: hidden;

	div {
		width: 260px;
		color: #fff;
		font-family: inherit;
		font-size: 14px;
		text-align: center;

		&:hover {
			cursor: default;
		}
	}
}

#updates_email {

	background: rgba(255,255,255,0.5);
	border: 1px solid #fff;
	height: 20px;
	width: 210px;
	padding: 0;
	margin: 0;

	font-family: arial;
	font-size: 11px;
	letter-spacing: 1px;


	//text-transform:uppercase;

	@include placeholder {
		color: #000;
		text-transform: none;
		text-align: center;
	}

	&:focus {
		outline: none;

		@include placeholder {
			text-transform: none;
		}
	}
}

#updates_explanation {
	position: absolute;
	top: 15px;
	right: -10px;
	width: 210px;
	font-family: 'ambitsek';
	font-size: 8px;
	line-height: 14px;

	background: rgba(255,255,255,0.5);
	border: 1px solid #000;
	border-radius: 3px;
	padding: 5px;
}

#updates_submit {
	border: 1px solid #fff;
	background: rgba(255,255,255,0.5);
	font-family: arial, sans-serif;
	font-size: 11px;
	line-height: 18px;
	display: inline-block;
	padding: 0 5px;

	&:hover {
		cursor: pointer;
		color: #fff;
		background: rgba(0,0,0,0.5);
		border: 1px solid #000;
	}
}
//postcard

#postcard {
	display: none;
	font-family: tahoma, verdana, sans-serif;
	font-size: 10px;

	position: absolute;
	top: 3%;
	left: 14%;
	margin-top: 40px;

	border-radius: 2px;
	background-image: url(yes80.png);

	width: 380px;
	height: 230px;
	padding: 7px;

	z-index: 100000;

	&>div:not(#p_stamp) {
		float: left;
	}

	@include transition( .5s .7s left ease-in );

	&.sent {
		left: 101%;

		& #p_stamp:after {
			display: block;
			width: 111px;
			left: -72px;
			background-position: -40px 0;
		}
	}	

}

#p_msg {
	width: 58%;
	height: 100%;
	padding-right: 4px;
	
	textarea {
		width: 100%;
		height: 100%;
		resize: none;
		font: inherit;
		border: none;
		line-height: 15px;

		@include linear-gradient( top, rgba(255,255,255,0.3), rgba(255,255,255,0.3) 14px #e7eff8 0px );
		background-size: 100% 15px;

		&::input-placeholder {
			color: #000;
		}

		&::-webkit-input-placeholder {
			color: #000;
		}
		
		&::-moz-placeholder {
			color: #000;
		}

		&:-moz-placeholder {
			color: #000;
		}

		&:-ms-input-placeholder {
			color: #000;
		}

		&:focus {
			outline: none;
		}
	}
}

#p_return{
	position: relative;
	width: 42%;
	height: 100%;
	border-left: 1px solid #000;
}

#p_addr {
	position: relative;
	margin: 80px auto 0 auto;
	width: 92%;

	&>span {
		font-size: 13px;
		line-height: 16px;
		display: block;
		margin-bottom: 3px;
		border-bottom: 1px solid #000;
	}
}

#p_disc {
	font-size: 9px;

	color: #fff;
	position: absolute;
	bottom: 2px;
	right: 0;
}

#p_stamp {
	text-align: center;
	line-height: 43px;
	position: absolute;
	top: 10px;
	right: 10px;

	width: 36px;
	height: 43px;

	border: 1px solid #000;

	&:hover {
		cursor: default;

		&:after {
			background-position: 0 0;
			display: block;
		}
	}

	&:after {
		content: "";
		width: 40px;
		height: 45px;
		background-image: url(stamp.png);
		background-repeat: no-repeat;
		background-position: -9999px -9999px;
		position: absolute;
		left: -3px;
		top: -2px;
	}
}
